if TARGET_MXRT105X_ZB

config SYS_BOARD
	string
	default "mxrt105x-zb"

config SYS_VENDOR
	string
	default "freescale"

config SYS_SOC
	string
	default "imxrt105x"

config SYS_CONFIG_NAME
	string
	default "mxrt105x-zb"
	
menu "MXRT105X-ZB Board Setting"
	depends on TARGET_MXRT105X_ZB
	
config MXRT105X_ZB_DISP_LT7381
    bool "LT7381 Display"

config MXRT105X_ZB_VER
    int "Board Revision"
    default 3
    
endmenu

endif
